<% if user.errors.any? %>
  <div class="alert alert-danger alert-login">
    <h3><%= pluralize(user.errors.count, "error", locale: :en)  %> prohibited this <%= user.name %> from being saved:</h3>
    <ul>
      <% user.errors.full_messages.each do |msg| %>
        <li><%= msg%></li>
      <% end %>
    </ul>
  </div>
<% end %>