<% provide(:title, "ユーザー編集・photo_conections") %>
<div class="user-edit-container">
  <ul class="user-edit-list">
    <li><span class="user-edit-block user-edit-active">プロフィールを編集</span></li>
    <li>
      <%= link_to "ログアウト", session_path(current_user.id), class: "user-edit-block", method: :delete %>
    </li>
  </ul>
  <article class="user-edit-wrapper">
    <%= render partial: "edit_form", locals: {user: @user} %>
  </article>
</div>