<% provide(:title, "ログイン・photo_connections") %>
<%= render partial: "form", locals: {user: @user} %>
<div class="enter-login-wrapper">
  <p>アカウントをお持ちですか？ <%=link_to "ログインする", new_session_path %></p>
</div>