<h1>photo connections</h1>
<p><%= @user.name %>さんは、新しい写真を投稿しました。</p>
<p>投稿写真は、いつでも編集、削除することが可能です。<br>
写真を投稿した覚えがない場合は、アカウントをご確認の上、サポートセンターまでご連絡下さい。</p>
<br>
<strong>有限会社 &copy;photo connections</strong>