.login-all-container {
  display: flex;
  justify-content: space-between;
}
.login-image-wrapper {
  margin: 10px auto;
}
.login-image-wrapper img {
  display: block;
  max-width: 454px;
  height: auto;
}
@media screen and (max-width: 875px) {
  .login-image-wrapper {
    display: none;
  }
  .login-all-container {
    display: block;
  }
}